:root{
    --red-color: #D4424f;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

.icon-filter{
    filter: invert(100%) sepia(35%) saturate(231%) hue-rotate(195deg) brightness(118%) contrast(100%);
}

.sidebar{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background-color: #383f51;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 8px 24px;
}
li > img{
    width: 1.8rem;
    height: auto;
    vertical-align: middle;
    margin-right: 1rem;
}
li > span{
    vertical-align: middle;
    font-size: 1.4rem
}
.sidebar > .menu > ul{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
.sidebar > .support > ul{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 8px
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 16px 48px;
    align-items: center;
    box-shadow: 2px 100px 10px gray;
}
.header .icon{
    width: 1.5rem;
    height: auto;
    vertical-align: middle;
}
.search{
    grid-column: 1 / 4;
}
.search-bar{
    border: none;
    background-color: lightgrey;
    border-radius: 20px;
    width: 42vw;
    height: 4vh;
}
.avatar{
    border-radius: 50%;
    width: 3vw;
    height: auto;
    vertical-align: middle;
}
.avatar.main{
    width: 5vw;
    height: auto;
}

.account{
    display: flex;
    gap: 36px;
    align-items: center;
    justify-self: end;
}

.user{
    grid-column: 1 / 3;
    display: flex;
    gap: 20px;
    align-items: center;
}
.user > *{
    flex-grow: 1;
}
.user-title > *{
    margin: 0;
}

.tool-btns{
    grid-column: 3 / 5;
    justify-self: end;
    display: flex;
    gap: 30px;
}
.btn{
    background-color: var(--red-color);
    border: none;
    border-radius: 25px;
    color: whitesmoke;
    height: 2.5rem;
    width: 6rem;
    font-size: 1.2rem;
    gap: 20px;
}

.prj-btn{
    width: 1.5rem;
    height: auto;
}

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 36px;
    padding: 30px 30px;
    background-color: gainsboro;
}

.projects{
    grid-row: 1 / -1;
}

.announcement-container{
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}
.announcements{
    background-color: whitesmoke;
    padding: 20px 25px;
    border-radius: 5px;
    display: grid;
    align-items: center;
}
.announcements > *{
    padding: 15px 2px;
}

.announcements > *:not(:last-child){
    border-bottom: gainsboro 2px solid;
}
.announcements > * > *{
    margin: 0;
}
.card-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(380px, 1fr));
    gap: 20px 30px;
}
.card{
    background-color: whitesmoke;
    border-radius: 5px;
    border-left: var(--red-color) solid 5px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: space-between;
}
.card-content > *{
    margin: 0;
}
.card > .card-icon{
    align-self: end;
}
